@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 99vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
}

/* Header */

.hero {
  background-color: #1f2937;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.header a {
  display: flex;
  text-decoration: none;
}

.left,
.right {
  width: 50%;
}

.logo {
  height: 100px;
  width: 100px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.header li a {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px;
}

/* Hero */

.main {
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #f9faf8;
}

.main .info {
  padding-right: 48px;
}

.main h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 48px;
}

.main p {
  margin-bottom: 48px;
}

.btn {
  font-size: 18px;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0d6aff;
}

.main img {
  width: 100%;
  border-radius: 20px;
}

/* Random info section */

.project {
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.project h2 {
  color: #1f2937;
  font-size: 36px;
  padding: 50px 0;
}

.container-project {
  width: 60vw;
  display: flex;
}

.container-project div {
  flex: 1 1 25%;
  text-align: center;
}

.container-project .project-info {
  padding: 20px;
  color: #1f2937;
}

.project-image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 15px;
  padding: 10px;
}

/* Quote */

.quote {
  height: 50vh;
  background-color: #e5e7eb;
}

.container-quote {
  width: 60vw;
  margin: 0 auto;
  padding: 50px 0;
}

.container-quote q {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.container-quote p {
  font-size: 36px;
  font-weight: 900;
  text-align: right;
  margin: 20px 0;
}

/* Footer */

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container-footer {
  height: 50%;
  width: 70vw;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.container-footer .info {
  color: #e5e7eb;
}

.container-footer .btn {
  border: 2px solid #e5e7eb;
}

/* About page */
.about-main {
  width: 70vw;
  margin: 50px auto;
  text-align: justify;
  text-indent: 25px;
  color: #e5e7eb;
  font-weight: 300;
}

.about-main p {
  margin: 10px 0;
}

.about-main span {
  font-size: 20px;
  font-weight: 900;
}

/*  Contact */
